@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Proje Düzenleme Sayfası</h3>
</div>


@using (Html.BeginForm("UpdatePortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.PortfolioID)

    @Html.Label("Proje Başlığı")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    <label>Görsel 1</label>
    @Html.TextBoxFor(x=>x.ImageUrl , new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br />
    <br />
    <label>Görsel 2</label>
    @Html.TextBoxFor(x=>x.Image2Url, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Image2Url)
    <br />
    <label>Proje URL</label>
    @Html.TextBoxFor(x=>x.ProjectUrl, new {@class="form-control"})
    <br />
    <label>Platform</label>
    @Html.TextBoxFor(x=>x.Platform, new {@class="form-control"})
    <br />
    <label>Ücret</label>
    @Html.TextBoxFor(x=>x.Price, new {@class="form-control"})
    <br />
    <label>Durum</label>
    @Html.TextBoxFor(x=>x.Status, new {@class="form-control"})
    <br />
    @*<label>Proje URL</label>
    @Html.TextBoxFor(x=>x.ProjectUrl, new {@class="form-control"})
    <br />
    <label>Proje URL</label>
    @Html.TextBoxFor(x=>x.ProjectUrl, new {@class="form-control"})
    <br />*@
    <button class="btn btn-outline-success">Kaydet</button>
}