@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Düzenleme Sayfası</h3>
</div>

@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ExperienceID)
        <br />
    @Html.Label("Deneyim")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
        <br />
        <label>Tarih</label>
    @Html.TextAreaFor(x=>x.Date,10,3, new {@class="form-control"})
        <br />
        <br />
        <label>Resim Url</label>
    @Html.TextAreaFor(x=>x.ImageUrl, new {@class="form-control"})
        <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x=>x.Description, new {@class="form-control"})
        <br />
        <button class="btn btn-outline-success">Kaydet</button>
}
