@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Güncelleme Sayfası</h3>
</div>

@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ExperienceID)
        <br />
    <br />
    @Html.Label("Deneyim")
    @Html.TextBoxFor(x=>x.Name, new {@class="form-control"})
    <br />
    @Html.Label("Tarih")
    @Html.TextAreaFor(x=>x.Date, new {@class="form-control"})
    <br />
    <label>Resim Url</label>
    @Html.TextAreaFor(x=>x.ImageUrl, new {@class="form-control"})
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x=>x.Description,10,3, new {@class="form-control"})
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
}
